<a href="https://colab.research.google.com/github/mehulpatel21/mehulpatel21/blob/main/pyspark_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [ ]:
"""
for each loan_ar_id, there will be multiple records with different snapshot_dates
for each record, create the following:
  1) lag_tot_bill_am - start from earliest record with 0, and then assign prev snapshot's tot_bill_am - done
  2) increase counter from N=1 through N=25 = done
  3) bill3m - if tot_bill_am > lag_tot_bill_am then 1 else 0 (if N=1, bill3m = 0)
  4) bill_chng_dt - Start with bill3m = 1 and assign snapshot_date as bill_chng_dt, keep going until you encounter another 1.
  5) mnth_sinc_bill_chng - difference between snapshot_date and bill_chng_dt
"""

'2.3.1'

In [97]:
full_df = spark.read.csv("/content/test_mnth_sinc_bill_chg.csv", sep=",", header='True')

In [ ]:
full_df.show(60, False)

In [98]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [ ]:
df1 = full_df.withColumn('snapshot_dt',to_date(full_df.snapshot_dt, 'yyyy-MM-dd'))
df1.show(60, False)

In [100]:
windowSpec = Window.partitionBy("loan_ar_id").orderBy(col("snapshot_dt").asc())

In [101]:
# increase counter from N=1 through N=25 = done
df_wind = df1.withColumn("N", row_number().over(windowSpec))

In [ ]:
df_wind.show(60, False)
df_wind.printSchema()

In [103]:
# lag_tot_bill_am - start from earliest record with 0, and then assign prev snapshot's tot_bill_am
lag_condition = when(col("N") == 0, 0).when(col("N") > 0, lag(df_wind.tot_bill_am).over(windowSpec))
df_wind = df_wind.withColumn("lag_tot_bill_am", lag_condition)

In [ ]:
df_wind.show(60, False)

In [109]:
# bill3m - if tot_bill_am > lag_tot_bill_am then 1 else 0 (if N=1, bill3m = 0)
bill3m_condition = when(col("N") == 1, 0).when(col("tot_bill_am") > col("lag_tot_bill_am"), 1).otherwise(0)
df_wind = df_wind.withColumn("bill3m", bill3m_condition)

In [ ]:
df_wind.show(60, False)

In [136]:
# bill_chng_dt - Start with bill3m = 1 and assign snapshot_date as bill_chng_dt, keep going until you encounter another 1.
bill_chng_dt_condition = when(col("N") == 1, None)\
                            .when(col("bill3m") == 1, col("snapshot_dt"))


df_wind = df_wind.withColumn("bill_chng_dt", bill_chng_dt_condition)

wind = (
    Window.partitionBy('loan_ar_id').orderBy('snapshot_dt').rowsBetween(Window.unboundedPreceding, Window.currentRow)
)

final = df_wind.withColumn("bill_chng_dt", last("bill_chng_dt", ignorenulls=True).over(wind)).drop("temp_bill_chng_dt")

In [ ]:
final.show(60, False)

In [142]:
# mnth_sinc_bill_chng - difference between snapshot_date and bill_chng_dt
from pyspark.sql.types import IntegerType
final_df = final.withColumn("mnth_sinc_bill_chng", months_between(col("snapshot_dt"), col("bill_chng_dt")))
final_df = final_df.withColumn("mnth_sinc_bill_chng", final_df.mnth_sinc_bill_chng.cast(IntegerType()))

In [143]:
final_df.show(60, False)

+----------+-----------+-----------+---+---------------+------+------------+-------------------+
|loan_ar_id|snapshot_dt|tot_bill_am|N  |lag_tot_bill_am|bill3m|bill_chng_dt|mnth_sinc_bill_chng|
+----------+-----------+-----------+---+---------------+------+------------+-------------------+
|112       |2019-12-31 |200.00     |1  |null           |0     |null        |null               |
|112       |2020-01-31 |200.00     |2  |200.00         |0     |null        |null               |
|112       |2020-02-28 |200.00     |3  |200.00         |0     |null        |null               |
|112       |2020-03-31 |200.00     |4  |200.00         |0     |null        |null               |
|112       |2020-04-30 |200.00     |5  |200.00         |0     |null        |null               |
|112       |2020-05-31 |200.00     |6  |200.00         |0     |null        |null               |
|112       |2020-06-30 |200.00     |7  |200.00         |0     |null        |null               |
|112       |2020-07-31 |200.00     |8  |200.00         |0     |null        |null               |
|112       |2020-08-31 |200.00     |9  |200.00         |0     |null        |null               |
|112       |2020-09-30 |200.00     |10 |200.00         |0     |null        |null               |
|112       |2020-10-31 |200.00     |11 |200.00         |0     |null        |null               |
|112       |2020-11-30 |200.00     |12 |200.00         |0     |null        |null               |
|112       |2020-12-31 |200.00     |13 |200.00         |0     |null        |null               |
|112       |2021-01-31 |200.00     |14 |200.00         |0     |null        |null               |
|112       |2021-02-28 |200.00     |15 |200.00         |0     |null        |null               |
|112       |2021-03-31 |200.00     |16 |200.00         |0     |null        |null               |
|112       |2021-04-30 |200.00     |17 |200.00         |0     |null        |null               |
|112       |2021-05-31 |200.00     |18 |200.00         |0     |null        |null               |
|112       |2021-06-30 |175.00     |19 |200.00         |0     |null        |null               |
|112       |2021-07-31 |175.00     |20 |175.00         |0     |null        |null               |
|112       |2021-08-31 |175.00     |21 |175.00         |0     |null        |null               |
|112       |2021-09-30 |175.00     |22 |175.00         |0     |null        |null               |
|112       |2021-10-31 |175.00     |23 |175.00         |0     |null        |null               |
|112       |2021-11-30 |175.00     |24 |175.00         |0     |null        |null               |
|112       |2021-12-31 |175.00     |25 |175.00         |0     |null        |null               |
|107       |2019-12-31 |826.50     |1  |null           |0     |null        |null               |
|107       |2020-01-31 |821.24     |2  |826.50         |0     |null        |null               |
|107       |2020-02-28 |817.35     |3  |821.24         |0     |null        |null               |
|107       |2020-03-31 |789.63     |4  |817.35         |0     |null        |null               |
|107       |2020-04-30 |813.86     |5  |789.63         |1     |2020-04-30  |0                  |
|107       |2020-05-31 |705.21     |6  |813.86         |0     |2020-04-30  |1                  |
|107       |2020-06-30 |713.44     |7  |705.21         |1     |2020-06-30  |0                  |
|107       |2020-07-31 |702.03     |8  |713.44         |0     |2020-06-30  |1                  |
|107       |2020-08-31 |710.25     |9  |702.03         |1     |2020-08-31  |0                  |
|107       |2020-09-30 |699.17     |10 |710.25         |0     |2020-08-31  |1                  |
|107       |2020-10-31 |705.63     |11 |699.17         |1     |2020-10-31  |0                  |
|107       |2020-11-30 |705.27     |12 |705.63         |0     |2020-10-31  |1                  |
|107       |2020-12-31 |684.90     |13 |705.27         |0     |2020-10-31  |2                  |
|107       |2021-01-31 |711.87     |14 |684.90         |1     |2021-01-31  |0                  |
|107       |2021-02-28 |700.76     |15 |711.87         |0     |2021-01-31  |1                  |
|107       |2021-03-31 |671.19     |16 |700.76         |0     |2021-01-31  |2                  |
|107       |2021-04-30 |697.67     |17 |671.19         |1     |2021-04-30  |0                  |
|107       |2021-05-31 |686.71     |18 |697.67         |0     |2021-04-30  |1                  |
|107       |2021-06-30 |685.39     |19 |686.71         |0     |2021-04-30  |2                  |
|107       |2021-07-31 |693.05     |20 |685.39         |1     |2021-07-31  |0                  |
|107       |2021-08-31 |691.24     |21 |693.05         |0     |2021-07-31  |1                  |
|107       |2021-09-30 |689.48     |22 |691.24         |0     |2021-07-31  |2                  |
|107       |2021-10-31 |678.05     |23 |689.48         |0     |2021-07-31  |3                  |
|107       |2021-11-30 |685.87     |24 |678.05         |1     |2021-11-30  |0                  |
|107       |2021-12-31 |675.75     |25 |685.87         |0     |2021-11-30  |1                  |
+----------+-----------+-----------+---+---------------+------+------------+-------------------+